@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body{
    margin: 0;
    padding: 0;
    background-image: url(imagens/tela-inicial-oficial.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}


h1{
    font-family: "Luckiest Guy";
    font-size: 5em;
    text-align: center;
    color: whitesmoke;
    -webkit-text-stroke-width: 0.03em; /* Largura da borda (exemplo: 3px) */
    -webkit-text-stroke-color: black; /* Cor da borda (exemplo: preto) */
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    }

#fotoInput{
    display: none;
}

.foto-container{
    position: relative;
    display: inline-block;
}
#preview{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.foto-perfil{
width: 100px;
height: 100px;
border-radius: 50%;
background-color: #fff;
}

.camera-icon{
position:absolute;
 bottom: 0;
right: 0;
width: 24px;
height: 24px;
border-radius: 50%;
object-fit: contain;
cursor: pointer;
}

.nome{
    padding: 10px;
    background-image: radial-gradient(circle, #674ea7 40%, #38bdfb);
    border-radius: 8px;
    border: none;
    width: 200px;
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.nome:focus {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(56, 189, 251, 0.8);
  }

.btn-jogar{
    padding: 20px 54px;
    background-image: radial-gradient(circle, #674ea7 40%, #38bdfb);
    border: none;
    font-size: 16px;
    margin-top: 50px;
    color: whitesmoke;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.6;
    pointer-events: none;

}

.btn-jogar:enabled {
    opacity: 1;
    pointer-events: auto;
  }